<!doctype html>
<title>{% block title %}{% endblock %} - Greenbelt Recorded Talks</title>
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit-icons.min.js"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav class="uk-navbar-container" uk-navbar>
	<a class="uk-navbar-item uk-logo" href="#"><img src="{{ url_for('static', filename='gb_logo.svg') }}"/></a>
	<p class="uk-navbar-item uk-logo">Recorded Talks</p>
	<div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li class="uk-parent"><a href="rota">Rota</a></li>
            <li class="uk-parent"><a href="recorders">Recorders</a></li>
	    <li class="uk-parent"><a href="front_desk">Front Desk</a></li>
            <li class="uk-parent"><a href="editing">Editing</a></li>
	    <li class="uk-parent"><a href="talks">Talks</a></li>
	    <li class="uk-parent"><a href="setup">Setup</a></li>
	    <li class="uk-parent"><a href="duplication">Duplication</a></li>
            <li><a href=""></a></li>
{% if current_user.is_authenticated %}
  <li class="uk-parent">You are logged in as {{ current_user.email }}!
  <a href="{{ url_for("logout") }}">Log out</a></li>
{% else %}
 <li class="uk-parent">
  You are not logged in.
  <a href="{{ url_for("google.login") }}">Log in</a></li>
{% endif %}
        </ul>
    </div>
</nav>


<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  <div class="uk-container">{% block content %}{% endblock %}</div>
</section>
