{% extends 'base.html' %}

{% block content %}

<h1 class="uk-heading-line uk-text-center"><span>Setup</span></h1>

<div class="uk-card uk-card-default uk-card-body">
{% filter markdown %}

### Duplication

This page provides instructions on how to use the duplication tools on the GB Talks server. All duplication operations are carried out via SSH on the server. 
{% endfilter %}
</div>

<hr class="uk-divider-icon">

<div class="uk-card uk-card-default uk-card-body">

{% filter markdown %}

### Software Overview

In `/home/gbtalks/talks-processing` there are two directories with duplication software in: `usb_tools` and `cd_tools`.

In `usb_tools` you will find:

* `count_connected_usbs.sh`: Tells you how many USB drives are connected
* `make_all_talks_usbs.sh`: Turns all connected USB drives into all talks USBs
* `make_single_all_talks_usb.sh`: Makes a single, specific USB drive into an all talks USB
* `mount_all_usbs.sh`: Mounts all connected USB drives so that you can do other file operations on them
* `preload_usbs.sh`: Turns all connected USB drives into all talks USBs with the files that we have so far

In `cd_tools` you will find:

* `checkfor.sh`: Checks that CD files are available for a particular talk
* `makecd.sh`: Writes a specific talk to a specific drive
* `make_4_cds.sh`: Writes the same talk to all 4 drives
* `whichdrive.sh`: Opens each CD drive in turn so that you can identify which drive is which

{% endfilter %}
</div>


<hr class="uk-divider-icon">

<div class="uk-card uk-card-default uk-card-body">

{% filter markdown %}

### Burning CDs

The Team Leaders and the shop team will decide on which talks (if any) to burn to CD, and when. Usually, there will be some expected "best sellers" that the shop team will want several copies of as soon as possible, but other talks will be burned on request, when festival-goers order them at the shop. 

To burn CDs for talks:

* Check that the talk is actually ready to be burned. Go to the [talks page](talks) and check that the Processed file is available for the talk that you want to burn. If it is, then you're good to go
* Make sure that you know which CD drive has which number (if they have stickers on, it's a good bet they're right)
* Log in to the server via SSH (instructions for this will be provided separately - talk to the team leaders)
* Put the CD in the drive
* To write (for example) talk gb22-99 to drive 1, run: `sudo /home/gbtalks/talks-processing/cd_tools/makecd.sh 99 1` 

If prompted for a password, it's gbtalks

If it works, after a few minutes, the drive will eject.

If it doens't work, you will still see a success message (sorry!) but usually suspiciously quickly, and the drive won't eject. Bin all CDs that fail. 

Note that any talks longer than ~70 minutes will require special treatment. Again, talk to Rob if this happens. 

To burn 4 CDs for the same talk, use the steps above but load CDs, and run `sudo /home/gbtalks/talks-processing/cd_tools/make_4_cds.sh 99`

{% endfilter %}

</div>

<hr class="uk-divider-icon">

<div class="uk-card uk-card-default uk-card-body">

{% filter markdown %}

### Making Talks USBs

There's no magic to these. 

Once all of the talks that have been ordered have been processed (check on the [talks page](talks)), just grab an 8GB USB stick and use the nearest available laptop to download the files from the server and copy them to the USB stick. Make sure that the USB bag has this year's sticker on it, and send it back to the shop when it's done. 

{% endfilter %}

</div>


<hr class="uk-divider-icon">

<div class="uk-card uk-card-default uk-card-body">

{% filter markdown %}

### Making All Talks USBs (for this year)

We have two types of USB sticks for duplicating on to: USB2 sticks, which are cheaper but much slower, and USB3 sticks, which are faster but cost more. There's only a few £ in it, but over hundreds of sticks, it really adds up!

Therefore, we use USB2 sticks as much as possible, and USB3 sticks when we need to work quickly. You can identify USB3 sticks by the blue plastic in the USB port, and they'll be either 16GB or 128GB.

It's important not to mix-and-match USB types: if a USB2 stick is plugged into a hub, the entire hub runs at USB2 speeds until it's removed. 

Broadly, the way that we make the All Talks USB is by creating a "gold" copy which has all of the talks that we want to put on the USB (and none of the ones that we don't!), plus the PDF of the talks list. This lives in `/usb_gold` on the server. 

Over the course of Monday afternoon, we can pre-load a bunch of USB2 drives with most of the talks from the weekend. 
On Monday night, we can then do a final sync, and then do some quick USB3 duplication to fulfil any on-the-night orders. 

Any that are to be posted out, Rob will fulfill after the festival

Common gotchas include:
* A dodgy port or USB stick - always check that the number of USBs reported matches what's plugged in. 
* Trying to do too much at once; if you set 50 USBs duplicating it will probably take more than twice as long as 2 batches of 25. Whether or not that matters depends on whether you're waiting for it to finish! 


{% endfilter %}

</div>

<hr class="uk-divider-icon">

<div class="uk-card uk-card-default uk-card-body">

{% filter markdown %}

### Making All Talks USBs (for previous years)

There is a complete archive of GB Talks on the server in the `/backups/talks` directory. Copy those (with `scp` or `rsync`) to your local computer, and copy them to a USB stick. 

It's unlikely that there will be any of these orders in 2022, as all previous talks are available free on the website. 

{% endfilter %}

</div>

<hr class="uk-divider-icon">

<div class="uk-card uk-card-default uk-card-body">

{% filter markdown %}

### Making All Talks DVDs (for any year)

Only a fool would do this. Put the order form on Rob's to-do pile, and pray for his immortal soul. We'll do all DVD orders after the festival. 

{% endfilter %}

</div>


{% endblock %}
