{% extends 'base.html' %}

{% block content %}

<h1 class="uk-heading-line uk-text-center"><span>Talks Editing</span></h1>


<div class="uk-card uk-card-body uk-card-default" style="display: none;">
<h1> Editors </h1>

<table>
<tr>
	<th>Editor</th>
        <th>Talks Assigned</th>
</tr>
{% for editor in editors %}
<tr>
	<td>{{ editor.name }}</td>
        <td>
{% for talk in editor.talks %}
<table>
<tr>
	<th>Talk ID</th>
	<th>Time</th>
	<th>Venue</th>
	<th>Speaker</th>
	<th>Title</th>
</tr>
<tr>
	<td>{{ talk.id }}</td>
	<td>{{ talk.start_time }}</td>
	<td>{{ talk.venue }}</td>
	<td>{{ talk.speaker }}</td>
	<td>{{ talk.title }}</td>
</table>
{% endfor %}	    
		</td>
</tr>


{% endfor %}
</table>

</div>

<hr class="uk-divider-icon">

<div class="uk-card uk-card-body uk-card-default">

<h1> Talks To Edit </h1>

Note that "Additional Talks" (talks with IDs > 100) should be edited only when requested by the Team Leaders: they may not have been cleared for release

<table>
<tr>
	<th>Talk ID</th>
	<th>Time</th>
        <th>Venue</th>
        <th>Speaker</th>
        <th>Title</th>
	<th>RAW file</th>
	<th>Edited file</th>
	<th>Upload</th>
</tr>
{% for talk in talks_to_edit %}
<tr>
	<td>{{ talk.id }}</td>
        <td>{{ talk.start_time }}</td>
        <td>{{ talk.venue }}</td>
        <td>{{ talk.speaker }}</td>
        <td>{{ talk.title }}</td>
	<td><a href="{{ url_for('getfile', talk_id=talk.id, file_type='raw') }}">Download</a></td>
	<form method=post action="upload_talk" enctype=multipart/form-data>
	<input type=hidden name=talk_id value="{{ talk.id }}">
	<td>
		<table>
			<tr><td>{% if talk.id in raw_talks_available %} 
					<a href="{{ url_for('getfile', talk_id=talk.id, file_type='edited') }}">Edited File</a> {% endif %}</td></tr>
			<tr><td>
				<input type=file name=editedfile>
			</td></tr>
		</table>
	</td>
	<td><input type=submit value="Upload"></td>
	</form>
</tr>
{% endfor %}
</table>

</div>
<hr class="uk-divider-icon">
<div class="uk-card uk-card-body uk-card-default" style="display: none;">
{% filter markdown %}
## Upload New Editors File

Upload a CSV file containing the names of the editors. Each line in the file should contain: Editor name.

Example:


        "Gandalf"
        "Gloin"
        "Elrond"

When you upload the file, all previous editors and assignments will be deleted.
{% endfilter %}

<form method=post enctype=multipart/form-data>
        <label for=file>File</label>
        <input name=file type=file id=file accept=".csv">
        <input name=form_name type=hidden value=upload_editors_list>
        <button>Submit</button>
</form>
</div>

{% endblock %}


