{% extends 'base.html' %}

{% block content %}


<form method=post enctype=multipart/form-data>
	<label for=file>File</label>
	<input name=file type=file id=file accept=".csv">
	<input name=form_name type=hidden value=upload_editors_list accept=".csv">
	<button>Submit</button>
</form>

<table>
<tr>
	<th>Editor</th>
        <th>Talks Assigned</th>
</tr>
{% for editor in editors %}
<tr>
	<td>{{ editor.name }}</td>
        <td>
{% for talk in editor.talks %}
<table>
<tr>
	<th>Talk ID</th>
	<th>Time</th>
	<th>Venue</th>
	<th>Speaker</th>
	<th>Title</th>
</tr>
<tr>
	<td>{{ talk.id }}</td>
	<td>{{ talk.start_time }}</td>
	<td>{{ talk.venue }}</td>
	<td>{{ talk.speaker }}</td>
	<td>{{ talk.title }}</td>
</table>
{% endfor %}	    
		</td>
</tr>


{% endfor %}
</table>

<div>
{% for talk in talks_to_edit %}
{{ talk }}
{% endfor %}
</div>


{% endblock %}


