{% extends 'base.html' %}

{% block content %}

<h1 class="uk-heading-line uk-text-center"><span>Recorders</span></h1>


<div class="uk-card uk-card-body uk-card-default">
{% filter markdown %}
## Upload New Recorders File

Upload a CSV file containing recorder information. Each line in the file should contain: Recorder name, max number of shifts per day.

Example:


	"Bilbo Baggins",2    
	"Belladonna Took",1
	"Thorin Oakenshield",2


When you upload the file, a new schedule will be calculated. There is no error checking: you should ensure that all talks are covered by checking the Rota page after uploading.  

There is no way to specify which days a recorder is available for. If two people are job-sharing, then treat them as one. Otherwise, manually allocate them some talks outside of this process.
{% endfilter %}



<form method=post enctype=multipart/form-data>
	<label for=file>File</label>
	<input name=file type=file id=file accept=".csv">
	<button>Submit</button>
</form>

</div>
<hr class="uk-divider-icon">

<div class="uk-card uk-card-body uk-card-default">
{% filter markdown %}
## Swap Recorder Assignments

Select two talks to swap their assigned recorders. Both talks must have recorders assigned.
{% endfilter %}

<form method="post" action="{{ url_for('swap_recorder_assignments') }}" onsubmit="return confirmSwap()">
    <div class="uk-grid-small" uk-grid>
        <div class="uk-width-1-2">
            <label class="uk-form-label" for="talk1">First Talk:</label>
            <select class="uk-select" name="talk1" id="talk1" required>
                <option value="">Select a talk...</option>
                {% for talk in all_talks %}
                    {% if talk.recorder_name %}
                        <option value="{{ talk.id }}">
                            [{{ talk.recorder_name }}] {{ talk.id }} - {{ talk.day }} {{ talk.start_time.strftime('%H:%M') }} - {{ talk.title[:30] }}{% if talk.title|length > 30 %}...{% endif %}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="uk-width-1-2">
            <label class="uk-form-label" for="talk2">Second Talk:</label>
            <select class="uk-select" name="talk2" id="talk2" required>
                <option value="">Select a talk...</option>
                {% for talk in all_talks %}
                    {% if talk.recorder_name %}
                        <option value="{{ talk.id }}">
                            [{{ talk.recorder_name }}] {{ talk.id }} - {{ talk.day }} {{ talk.start_time.strftime('%H:%M') }} - {{ talk.title[:30] }}{% if talk.title|length > 30 %}...{% endif %}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="uk-margin">
        <button type="submit" class="uk-button uk-button-primary">Swap Assignments</button>
    </div>
</form>

<script>
function confirmSwap() {
    var talk1Select = document.getElementById('talk1');
    var talk2Select = document.getElementById('talk2');
    
    if (talk1Select.value === talk2Select.value) {
        alert('Please select two different talks.');
        return false;
    }
    
    var talk1Text = talk1Select.options[talk1Select.selectedIndex].text;
    var talk2Text = talk2Select.options[talk2Select.selectedIndex].text;
    
    return confirm('Are you sure you want to swap the recorder assignments between:\n\n' + 
                   'Talk 1: ' + talk1Text + '\n' + 
                   'Talk 2: ' + talk2Text + '\n\n' + 
                   'This action cannot be undone.');
}
</script>

</div>
<hr class="uk-divider-icon">

<div class="uk-card uk-card-body uk-card-default">

{% filter markdown %}
## Recorders Schedule
{% endfilter %}


{% for recorder in recorders %}
<div style="break-after:page"></div>
{% filter markdown %}
## {{ recorder.name }}
{% endfilter %}

<form method="post" action="{{ url_for('update_recorder_shifts') }}" style="display: inline-block; margin-bottom: 10px;">
    <input type="hidden" name="recorder_name" value="{{ recorder.name }}">
    
    <div style="margin-bottom: 5px;">
        <label for="max_shifts_{{ recorder.name }}">Max shifts per day:</label>
        <input type="number" name="max_shifts_per_day" id="max_shifts_{{ recorder.name }}" value="{{ recorder.max_shifts_per_day }}" min="1" max="3" style="width: 60px; text-align: center;">
    </div>
    
    <div style="margin-bottom: 5px;">
        <label for="earliest_start_{{ recorder.name }}">Earliest start time:</label>
        <input type="time" name="earliest_start_time" id="earliest_start_{{ recorder.name }}" value="{% if recorder.earliest_start_time %}{{ recorder.earliest_start_time.strftime('%H:%M') }}{% endif %}" style="width: 100px;">
        <small style="color: #666;">(leave blank if no constraint)</small>
    </div>
    
    <div style="margin-bottom: 5px;">
        <label for="latest_end_{{ recorder.name }}">Latest end time:</label>
        <input type="time" name="latest_end_time" id="latest_end_{{ recorder.name }}" value="{% if recorder.latest_end_time %}{{ recorder.latest_end_time.strftime('%H:%M') }}{% endif %}" style="width: 100px;">
        <small style="color: #666;">(leave blank if no constraint)</small>
    </div>
    
    <button type="submit" class="uk-button uk-button-primary uk-button-small">Update</button>
</form>

<table class="uk-table">
{% for talk in recorder.talks %}
<tr>
	<th>Talk ID</th>
	<th>Time</th>
	<th>Venue</th>
	<th>Speaker</th>
	<th>Title</th>
</tr>
<tr {% if talk["is_priority"] %} class="priority_talk" {% endif %}>
	<td>{{ talk.id }}</td>
	<td>{{ talk.day }} <br /> {{ talk.start_time }}</td>
	<td>{{ talk.venue }}</td>
	<td>{{ talk.speaker }}</td>
	<td>{{ talk.title }}</td>
</tr>
{% endfor %}
</table>
{% endfor %}
</div>

{% endblock %}


