{% extends 'base.html' %}

{% block content %}

<h1 class="uk-heading-line uk-text-center"><span>Recorders</span></h1>


<div class="uk-card uk-card-body uk-card-default">
{% filter markdown %}
## Upload New Recorders File

Upload a CSV file containing recorder information. Each line in the file should contain: Recorder name, max number of shifts per day.

Example:


	"Bilbo Baggins",2    
	"Belladonna Took",1
	"Thorin Oakenshield",2


When you upload the file, a new schedule will be calculated. There is no error checking: you should ensure that all talks are covered. An easy way to do this is to check how many times the string "VENUE" appears on this page: if it's one more time than the number of talks, all talks are covered. 

There is no way to specify which days a recorder is available for. If two people are job-sharing, then treat them as one. Otherwise, manually allocate them some talks outside of this process. 

{% endfilter %}



<form method=post enctype=multipart/form-data>
	<label for=file>File</label>
	<input name=file type=file id=file accept=".csv">
	<button>Submit</button>
</form>

</div>
<hr class="uk-divider-icon">

<div class="uk-card uk-card-body uk-card-default">

{% filter markdown %}
## Recorders Schedule
{% endfilter %}


{% for recorder in recorders %}
<div style="break-after:page"></div>
{% filter markdown %}
## {{ recorder.name }}

{{ recorder.max_shifts_per_day }} shift(s) per day
{% endfilter %}

<table class="uk-table">
{% for talk in recorder.talks %}
<tr>
	<th>Talk ID</th>
	<th>Time</th>
	<th>Venue</th>
	<th>Speaker</th>
	<th>Title</th>
</tr>
<tr {% if talk["is_priority"] %} class="priority_talk" {% endif %}>
	<td>{{ talk.id }}</td>
	<td>{{ talk.day }} <br /> {{ talk.start_time }}</td>
	<td>{{ talk.venue }}</td>
	<td>{{ talk.speaker }}</td>
	<td>{{ talk.title }}</td>
</tr>
{% endfor %}
</table>
{% endfor %}
</div>

{% endblock %}


