{% extends 'base.html' %}

{% block content %}


<form method=post enctype=multipart/form-data>
	<label for=file>File</label>
	<input name=file type=file id=file accept=".csv">
	<button>Submit</button>
</form>

<table>
<tr>
	<th>Recorder</th>
	<th>Max Shifts Per Day</th>
        <th>Talks Recorded</th>
</tr>
{% for recorder in recorders %}
<tr>
	<td>{{ recorder.name }}</td>
	<td>{{ recorder.max_shifts_per_day }}</td>
        <td>
{% for talk in recorder.talks %}
<table>
	<th>
	</th>
</table>
{% endfor %}	    
		</td>
</tr>


{% endfor %}
</table>


{% endblock %}


