{% extends 'base.html' %}

{% block content %}

<form method=post>
	<button>New Rota</button>
</form>
<h1>Rota by venue</h1>
<table class="pure-table pure-table-bordered">
	<tr>
	<th> Venue </th>
{% for talk_time in times %}

	<th>{{ talk_time }}</th>

{% endfor %}
	</tr>

{% for talk_venue in venues %}

	<tr>
		<td> {{ talk_venue }} </td>
{% for talk_time in times %}

<td>
		{% for talk in talks %}
		{% if talk["start_time"] == talk_time and talk["venue"] == talk_venue %}
		<div {% if talk["is_priority"] %} class="priority_talk" {% endif %}>
			<p>{{ talk["title"] }}</p>
			<p>{{ talk["speaker"] }}</p>
			<p>{{ talk["recorder_name"] }}</p>
		</div>
		{% endif %}
		{% endfor %}
		
</td>
{% endfor %}
	</tr>

{% endfor %}

</table>


<h1> Rota by Time </h1>

<table class="pure-table pure-table-bordered">
<tr>
	<th>Talk ID</th>
	<th>Title</th>
	<th>Speaker(s)</th>
        <th>Recorded By</th>
	<th>Start Time</th>
        <th>End Time</th>
</tr>
{% for talk in talks %}
<tr {% if talk["is_priority"] %} class="priority_talk" {% endif %}>
	<td>{{ talk.id }}</td>
	<td>{{ talk.title }}</td>
        <td>{{ talk.speaker }}</td>
	<td>{{ talk.recorder_name }}</td>
        <td>{{ talk.start_time }}</td>
        <td>{{ talk.end_time }}</td>
</tr>


{% endfor %}
</table>

{% endblock %}


