{% extends 'base.html' %}

{% block content %}

<h1 class="uk-heading-line uk-text-center"><span>Setup</span></h1>


<div class="uk-card uk-card-default uk-card-body">
{% filter markdown %}

### Setup

This page provides a range of tools that set up the application. Use with care: this allows you to break things in interesting ways. 

{% endfilter %}
</div>


<hr class="uk-divider-icon">

<div class="uk-card uk-card-default uk-card-body">

{% filter markdown %}
### Upload All Talks Index File

The All Talks USB stick has a PDF file on it which lists out what all of the talks are. We create this during the festival (usually based on the order form), and update it as talks are either added or removed from the list. 

Uploading a file here will replace the existing one. 

{% endfilter %}

        <form action="put_alltalks_pdf" method=post enctype=multipart/form-data>
                <label for=file>File</label>
                <input name=file type=file id=file accept=".pdf">
                <button>Submit</button>
        </form>


</div>

<hr class="uk-divider-icon">

<div class="uk-card uk-card-default uk-card-body">

{% filter markdown %}
### Festival Year

Configure the year when Greenbelt Festival takes place. The system automatically calculates the Friday before the UK Summer Bank Holiday (last Monday in August) for that year.

**Current Festival Date:** {{ config.GB_FRIDAY }}  
**Current Short Year:** {{ config.GB_SHORT_YEAR }}

The Friday date is automatically calculated based on the UK Summer Bank Holiday.

{% endfilter %}

        <form action="update_festival_year" method=post>
                <label for=festival_year>Festival Year</label>
                <input name=festival_year type=number id=festival_year value="{{ config.GB_FRIDAY[:4] }}" min="{{ current_year }}" max="{{ current_year + 10 }}" required>
                <button>Update Festival Year</button>
        </form>

</div>

<hr class="uk-divider-icon">

<div class="uk-card uk-card-default uk-card-body">

{% filter markdown %}
### Rota Settings

Configure the variables that control how the automatic rota generation works. Changes take effect immediately for new rota generations.

{% endfilter %}

        {% if rota_settings %}
        <form action="update_rota_settings" method=post>
            {% for key, setting in rota_settings.items() %}
            <div class="uk-margin">
                <label class="uk-form-label" for="{{ key }}">{{ setting.description }}</label>
                <div class="uk-form-controls">
                    <input class="uk-input" type="number" id="{{ key }}" name="{{ key }}" 
                           value="{{ setting.value }}" min="1" 
                           {% if key == 'max_shifts_per_day_limit' %}max="3"{% endif %} required>
                    <span class="uk-text-small uk-text-muted">{{ setting.unit }}</span>
                </div>
            </div>
            {% endfor %}
            <button class="uk-button uk-button-primary">Update Rota Settings</button>
        </form>
        {% else %}
        <p class="uk-text-warning">Rota settings are not available. The database may need to be recreated with <code>flask createdb</code>.</p>
        {% endif %}

</div>

<hr class="uk-divider-icon">

<div class="uk-card uk-card-default uk-card-body">

{% filter markdown %}
### Upload Icon

The icon is used as the cover image for MP3 files. It must be a square PNG, recommended 300x300 pixels. 

Uploading a file here will replace the existing one.

{% endfilter %}

        <form action="upload_cover_image" method=post enctype=multipart/form-data>
                <label for=file>File</label>
                <input name=file type=file id=file accept=".png">
                <button>Submit</button>
        </form>


</div>


<hr class="uk-divider-icon">

<div class="uk-card uk-card-default uk-card-body">

{% filter markdown %}

### Replace Talks File

The Talks File is the list of talks. It must be a CSV file (with utf-8 encoding, otherwise accented characters won't work).

You'll probably get a list of talks in some sort of spreadsheet format from GBHQ. You'll normally need to do some prep work to get it ready to import: remove any talks that we don't want to record, check that the columns are ordered correctly (see below), make sure that there is only one header line. 

The first line of the file is discarded, as it is assumed to be column headings. 

All fields are case-sensitive, and trailing/leading whitespace is not trimmed. "yes" is not the same as "Yes", "Friday " doesn't match "Friday", " 20:15" is not a time. 

The columns are pre-set in the code: edit the file if these don't match the columns you've got:

	Column 0: Talk ID, e.g. "gb99-001"
	Column 1: Speaker, e.g. "Dr Awesome"
	Column 2: Title, e.g. "My Great Talk"
	Column 3: Day, e.g. "Friday"
	Column 4: Start Time, e.g. "20:15"
	Column 5: End Time, e.g. "21:15"
	Column 6: Venue, e.g. "A Field"
	Column 7: Description, e.g. "Blah Blah Blah"
	Column 8: Is this talk a "must-record" / "priority" talk? Must be "Yes" or blank
	Column 9: Should a recorder be rota-ed for this talk? Must be "Yes" or blank
	Column 10: Is this talk cleared for release? Must be "Yes" or blank.


All of those columns must be supplied, including the Priority and Rotaed columns, even if those mechanisms arent being used in a given year.  

Replacing the Talks File deletes all previous data: assignments, rotas, etc. Files on disk aren't deleted, so if any talk IDs change, the files will be the wrong ones. If you replace the talks file when the festival has started, the rota will be meaningless, so make sure that you've got a copy saved! Any changes that affect the rota will need to be accounted for manually.

It's probably best to talk to Rob before replacing the talks file during the festival. 
{% endfilter %}

	<form action="talks" method=post enctype=multipart/form-data>
        	<label for=file>File</label>
        	<input name=file type=file id=file accept=".csv">
        	<input name=form_name type=hidden value="upload_talks_list">
        	<button>Submit</button>
	</form>
</div>

{% endblock %}
