<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/css/uikit.min.css" />

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='rotastyle.css') }}">


{% block content %}

{% for day in days %}

<h1>{{ day }}</h1>

<table>
	<tr>
	<th> Venue </th>

{% for talk_time in times[day] %}

	<th>{{ talk_time.strftime("%H:%M") }}</th>

{% endfor %}
	</tr>

{% for talk_venue in venues[day] %}

	<tr>
		<td> {{ talk_venue }} </td>

{% for talk_time in times[day] %}

<td>
		{% for talk in talks[day] %}
		{% if talk["start_time"] == talk_time and talk["venue"] == talk_venue %}
		<div class ="{% if talk["is_priority"] %} priority_talk {% endif %} {% if talk["recorded_by"] is not none %} is_recorded {% endif %} ">
			<p>{{ talk["title"] }}</p>
			<p>{{ talk["speaker"] }}</p>
			<p>{{ talk["recorder_name"] }}</p>
			<p>Ends at {{ talk["end_time"].strftime("%H:%M") }}</p>
		</div>
		{% endif %}
		{% endfor %}
		
</td>
{% endfor %}
	</tr>

{% endfor %}

</table>
<div class="pagebreak"> </div>

{% endfor %}

{% endblock %}
