{% extends 'base.html' %}

{% block content %}


<h1 class="uk-heading-line uk-text-center"><span>Rota</span></h1>

<p>This page provides a way to create a new rota, a tabular view of the rota by venue, and a timeline view of the rota (scroll down!)</p>

<div class="uk-card uk-card-body uk-card-default">

<h1>Create New Rota</h1>

<p>Create a new rota, using the talks and recorders files already provided. This will always create the same rota for the same inputs. Small changes to the input files (e.g. adding a talk) can result in large changes to the rota. If there are any last-minute changes - particularly once rotas have been issued to recorders - these should be addressed manually. 

There is no way to update the online rota with manual changes, apart from by directly editing the database. If you need to do this, speak to Rob. 
</p>

<form method=post>
	<button>Create New Rota</button>
</form>

</div>

<hr class="uk-divider-icon">

<div class="uk-card uk-card-body uk-card-default">

<h1>Rota by venue</h1>

<p>Provides a landscape, tabular view of the rota, with times across the top and venues down the side. On its own page for ease of printing:</p> 

<span><a href="{{ url_for('rota.rota_by_venue') }}">Rota by venue</a></span>

</div>

<hr class="uk-divider-icon">

<h1> Rota by Time </h1>

<table class="pure-table pure-table-bordered">
<tr>
	<th>Talk ID</th>
	<th>Venue</th>
	<th>Title</th>
	<th>Speaker(s)</th>
        <th>Recorded By</th>
        <th>Day</th>
	<th>Start Time</th>
        <th>End Time</th>
</tr>
{% for talk in talks %}
<tr class="{% if talk["is_priority"] %} priority_talk {% endif %} {% if talk["recorded_by"] is not none %} is_recorded {% endif %}">
	<td>{{ talk.id }}</td>
	<td>{{ talk.venue }}</td>
	<td>{{ talk.title }}</td>
        <td>{{ talk.speaker }}</td>
	<td>{{ talk.recorder_name }}</td>
        <td>{{ talk.day }}</td>
        <td>{{ talk.start_time }}</td>
        <td>{{ talk.end_time }}</td>
</tr>


{% endfor %}
</table>

{% endblock %}


